<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Collector</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            padding: 20px;
        }

        .control-panel {
            max-width: 300px;
            margin: 0 auto;
        }

        .move-label {
            font-size: 14px;
            color: #555;
            margin-bottom: 10px;
        }

        .divider {
            background-color: #d6dff3;
            height: 100%;
            width: 100%;
            margin: 15px 0;
            border-radius: 2px;
            padding: 10px;
        }

        .halt-button {
            background-color: #ff6b81; /* Pinkish-red color */
            color: white;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
            width: 100%;
            margin-bottom: 10px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.2);
            transition: background-color 0.3s;
        }

        .halt-button:hover {
            background-color: #ff4757;
        }


        .control-option {
            background-color: #70a1ff; /* Blue color */
            color: white;
            padding: 10px;
            margin-bottom: 5px;
            border-radius: 5px;
            cursor: pointer;
            text-align: center;
            border: none;
            width: 100%;
            font-size: 16px;
        }

        .control-option:hover {
            background-color: #5352ed;
        }
    </style>
</head>
<body>
    <div class="control-panel">
        <h1 class="move-label">Recording as : <span style="font-weight: bold;" id="text">N/A</span></h1>
        <button class="control-option" onclick="changeDirection('Halt')">Halt</button>
        <button class="control-option" onclick="changeDirection('Forward')">Forward</button>
        <button class="control-option" onclick="changeDirection('Turn')">Turn</button>
        <button class="halt-button" id="requestMotionBtn">Enable Motion Sensors</button>
                <div class="divider">
            <p>GPS Lat: <span style="font-weight: bold;" id="gps_lat">Permission Denied</span></p>
            <p>GPS Lon: <span style="font-weight: bold;" id="gps_lon">Permission Denied</span></p>
            <p>GPS vel: <span style="font-weight: bold;" id="gps_vel">Permission Denied</span></p>
            <p>acc (x,y,z): <span style="font-weight: bold;" id="acc_x">-</span>,
                <span style="font-weight: bold;" id="acc_y">-</span>, <span style="font-weight: bold;" id="acc_z">-</span>
            </p>
            <p>gyro (α,β,γ): <span style="font-weight: bold;" id="gyro_alpha">-</span>,
                <span style="font-weight: bold;" id="gyro_beta">-</span>, <span style="font-weight: bold;" id="gyro_gamma">-</span>
            </p>
            <p>IMU interval: <span style="font-weight: bold;" id="interval">-</span></p>
        </div>
        <div class="divider" style="background-color: lightgray">
            <h1 class="move-label">Console Log</h1>
            <p id="console_log"></p>
        </div>
    </div>
</body>
<script>
    // setting a label
    const text = document.getElementById("text")
    let direction = "Halt";
    changeDirection(direction);

    function changeDirection(newDirection){
        console.log(newDirection);
        direction = newDirection;
        text.textContent = direction;
    }
</script>
<script>
    function calculateAverage(arr) {
        if (arr.length === 0) {
            return 0.0;
        }
        consoleLog.textContent = arr.length
        const sum = arr.reduce((acc, val) => acc + val, 0);
        return sum / arr.length;
    }
    // Device Motion
    function handleMotionEvent(event) {
        const acceleration = event.acceleration;
        const accelerationWithGravity = event.accelerationIncludingGravity;
        const rotationRate = event.rotationRate;
        const interval = event.interval;

        if (acceleration) {
            acc_x.push(acceleration.x);
            acc_y.push(acceleration.y);
            acc_z.push(acceleration.z);
        }
        if (accelerationWithGravity) {
            acc_gx.push(accelerationWithGravity.x);
            acc_gy.push(accelerationWithGravity.y);
            acc_gz.push(accelerationWithGravity.z);
        }
        if (rotationRate) {
            gyro_alpha.push(rotationRate.alpha);
            gyro_beta.push(rotationRate.beta);
            gyro_gamma.push(rotationRate.gamma);
        }

        imu_timestamp = Date.now().toString();

        textInterval.textContent = interval ? interval.toFixed(2) : '-';
        console.log('Acceleration (x, y, z):', acceleration
            && `${acceleration.x}, ${acceleration.y}, ${acceleration.z}`);
        console.log('Acceleration with g (x, y, z):', accelerationWithGravity && `${
            accelerationWithGravity.x}, ${accelerationWithGravity.y}, ${accelerationWithGravity.z}`);
        console.log('Rotation Rate (alpha, beta, gamma):', rotationRate
            && `${rotationRate.alpha}, ${rotationRate.beta}, ${rotationRate.gamma}`);
        console.log('Interval:', interval);
    }

    function requestMotionPermission() {
        if (typeof DeviceMotionEvent !== 'undefined'
            && typeof DeviceMotionEvent.requestPermission === 'function') {
            DeviceMotionEvent.requestPermission().then(permissionState => {
                if (permissionState === 'granted') {
                    window.addEventListener('devicemotion', handleMotionEvent);
                    permissionBtn.style.display = 'none'
                    // Send data to the web server
                    intervalId = setInterval(() => {
                        sendUrl();
                    }, sendInterval)
                } else {
                    console.log('Device motion permission not granted.');
                }
            }).catch(error => {
                console.error('Error requesting device motion permission:', error);
            });
        } else {
            window.addEventListener('devicemotion', handleMotionEvent);
            permissionBtn.style.display = 'none'
        }
    }

    function sendUrl() {
        // calculate average
        const latest_acc_x = acc_x.at(-1) ?? 0;
        const latest_acc_y = acc_y.at(-1) ?? 0;
        const latest_acc_z = acc_z.at(-1) ?? 0;

        const latest_acc_gx = acc_gx.at(-1) ?? 0;
        const latest_acc_gy = acc_gy.at(-1) ?? 0;
        const latest_acc_gz = acc_gz.at(-1) ?? 0;

        const latest_gyro_x = gyro_alpha.at(-1) ?? 0;
        const latest_gyro_y = gyro_beta.at(-1) ?? 0;
        const latest_gyro_z = gyro_gamma.at(-1) ?? 0;

        const latest_speed = vel.at(-1) ?? 0;

        {#const mean_lat = calculateAverage(latitudes);#}
        {#const mean_lon = calculateAverage(longitudes);#}
        // clear data
        acc_x.length = 0;
        acc_y.length = 0;
        acc_z.length = 0;
        acc_gx.length = 0;
        acc_gy.length = 0;
        acc_gz.length = 0;
        gyro_alpha.length = 0;
        gyro_beta.length = 0;
        gyro_gamma.length = 0;
        vel.length = 0;
        {#latitudes.length = 0;#}
        {#longitudes.length = 0;#}
        // update interface
        textAcc_x.textContent = latest_acc_x;
        textAcc_y.textContent = latest_acc_y;
        textAcc_z.textContent = latest_acc_z;
        textGyro_alpha.textContent = latest_gyro_x;
        textGyro_beta.textContent = latest_gyro_y;
        textGyro_gamma.textContent = latest_gyro_z;
        textLat.textContent = lat;
        textLon.textContent = lon;
        // send data to web server
        let url = baseUrl + "/data?_acc=";
        url = url + latest_acc_x + "," + latest_acc_y + "," + latest_acc_z;
        url = url + "&_acc_g=";
        url = url + latest_acc_gx + "," + latest_acc_gy + "," + latest_acc_gz;
        url = url + "&_gyro=";
        url = url + latest_gyro_x + "," + latest_gyro_y + "," + latest_gyro_z;
        url = url + "&_vel=" + latest_speed;
        url = url + "&_action=" + direction;
        url = url + "&_lat=" + lat;
        url = url + "&_lon=" + lon;
        url = url + "&_gps_timestamp=" + gps_timestamp;
        url = url + "&_imu_timestamp=" + imu_timestamp;
        url = url + "&_timestamp=" + Date.now().toString();
        fetch(url).then((res) => {
            if (!res.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }
            return res.json();
        }).then((data) => {
            console.log("csv write:" + data.status)
        }).catch((error) => {
            console.error('Error sending data to server:', error);
        })
    }
</script>
<script>
    const baseUrl = window.location.origin;
    // DOM elements
    const textLat = document.getElementById("gps_lat");
    const textLon = document.getElementById("gps_lon");
    const textVel = document.getElementById("gps_vel");
    const consoleLog = document.getElementById("console_log");
    const textAcc_x = document.getElementById("acc_x");
    const textAcc_y = document.getElementById("acc_y");
    const textAcc_z = document.getElementById("acc_z");
    const textGyro_alpha = document.getElementById("gyro_alpha");
    const textGyro_beta = document.getElementById("gyro_beta");
    const textGyro_gamma = document.getElementById("gyro_gamma");
    const textInterval = document.getElementById("interval");
    const permissionBtn = document.getElementById('requestMotionBtn');

    const sendInterval = 500;
    let intervalId;

    // GPS
    const vel = [];
    let lat = 0.0;
    let lon = 0.0;
    // accelerometer
    const acc_x = [];
    const acc_y = [];
    const acc_z = [];
    // acc including gravity
    const acc_gx = [];
    const acc_gy = [];
    const acc_gz = [];
    // orientation rate
    const gyro_alpha = [];
    const gyro_beta = [];
    const gyro_gamma = [];
    // timestamp
    let gps_timestamp, imu_timestamp;

    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition((position) => {
            const latitude = position.coords.latitude;
            const longitude = position.coords.longitude;
            const accuracy = position.coords.accuracy; // Accuracy of the location in meters
            const timestamp = position.timestamp; // Time at which the location was retrieved

            console.log('Latitude:', latitude);
            textLat.textContent = latitude.toString();
            console.log('Longitude:', longitude);
            textLon.textContent = longitude.toString();
            console.log('Accuracy:', accuracy);
            console.log('Timestamp:', timestamp);

            lat = latitude;
            lon = longitude;
            gps_timestamp = position.timestamp.toString();

            textVel.textContent = (position.coords.speed !== null
                && !isNaN(position.coords.speed)) ? position.coords.speed.toFixed(2) : "N/A";

        // Use the location data (e.g., display on a map, send to a server)
        }, (error) => {
            switch (error.code) {
            case error.PERMISSION_DENIED:
                console.error('User denied the request for Geolocation.');
                break;
            case error.POSITION_UNAVAILABLE:
                console.error('Location information is unavailable.');
                break;
            case error.TIMEOUT:
                console.error('The request to get user location timed out.');
                break;
            case error.UNKNOWN_ERROR:
                console.error('An unknown error occurred.');
                break;
            }
        });
        const gpsWatchId = navigator.geolocation.watchPosition((position) =>{
            const latitude = position.coords.latitude;
            const longitude = position.coords.longitude;
            const speed = (position.coords.speed !== null
                && !isNaN(position.coords.speed))? position.coords.speed : 0.0;
            console.log("GPS watch lat: " + latitude);
            console.log("GPS watch lon: " + longitude);
            lat = latitude;
            lon = longitude;
            vel.push(speed);
            gps_timestamp = position.timestamp.toString();
        }, (error) => {
            console.log("Watch GPS error T-T");
            console.log(error.code);
            console.log(error.message);
        });

        permissionBtn.addEventListener('click', requestMotionPermission);
        window.addEventListener('devicemotion', handleMotionEvent); // Fallback for older browsers

    } else {
      console.error('Geolocation is not supported by this browser.');
    }
</script>
</html>